* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   font-family: sans-serif;
}

body {
    background-image: linear-gradient(135deg, rgb(0, 255, 255), rgb(8, 163, 15));
    background-attachment: fixed;
}

.container {
    max-width: 450px;
    width: 100%;
    aspect-ratio: 2/1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(110, 248, 145, 0.308);
    margin: 50px auto;
    padding: 20px 0 0 0;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #01552b83;

}

.container-calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 10px;
    width: 100%;
}

h1 {
    color: rgb(118, 118, 238);
 
    font-weight: 700;
    letter-spacing: 1px;
}

h1 span{
    display: inline-block;
}
h1 span::first-letter {


    color: rgb(200, 132, 221);
}

select,
input,.result-calc {
    outline: none;
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    border: none;
    width: 80%;

}

select {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}

option {
    background-color: rgba(0, 255, 255, 0.534);
    color: rgb(0, 0, 0);

}

input {
    background-color: rgba(255, 249, 249, 0.651);

}


.container-calc>:nth-child(2){
    order:3;
}

.result-calc{
    order: 4;
    width: 80%;
    font-size: 16px;
    padding: 3px;
}

 .result-calc :nth-child(2),.result-calc span:first-of-type{
           background-color: rgba(255, 249, 249, 0.993);
           padding: 3px;
           border-radius: 4px;

    
 }